.v-tool {
    background-color: black;
    color: white;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.h-tool {
    background-color: purple;
    color: white;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    width: 5%;
}

.Toolbar {
    background-color: grey;
    height: 10vh;
}

.Toolbox {
    background-color: gainsboro;
    width: 20%;
}

.button {
  border-radius: 5px;
  cursor: pointer;
}
